<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/min.css">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<title>{{ site.title }}{% if page.title %} &bull; {{ page.title }}{% endif %}</title>
	<link id="page_favicon" href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>